.navbar {
    padding: 2vw;
    height: 3vw;
    background-color: darkslategrey;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-signup {
    background-color: darkslategray;
    margin: 2vw;
    border: none;
    border-radius: 8px;
    min-height: 1vw;
    min-width: 8vw;
    text-decoration-color: white ;
}

.footer-container {
    background-color: darkslategray;
}